<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game_lesson_1"
        tools:targetApi="33">



        <activity
            android:name=".levels.Level1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level4"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".levels.Level5"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".levels.Level6"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".levels.Level7"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".levels.Level8"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".levels.Level9"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".levels.Level11"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameLevels"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>